
<div id="edit-container" class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <label ng-bind="command == 'display-item' ? lexicon.DisplayItemTitle : lexicon.EditItemTitle"></label>
            </div>
            <div class="panel-body">
                <table id="edit-from" class="table table-bordered table-striped">
                    <tbody request sp-route="{{domain}}/fields/2" sp-key="editframe:fields" sp-as="edit-fields-got">
                        <tr ng-repeat="field in fields track by $index">
                            <td width="35%">{{field.label}}</td>
                            <td width="55%">
                                <a id="{{field.name}}" href="#" ng-if="field.formdata.isPlainText" ng-model="model[field.name]" placeholder="{{field.formdata.placeholder}}" data-default-value="{{field.defaultValue}}" data-type="text" data-pk="{{model.ID}}" data-title="{{field.label}}" class="formdata formdata-click">
                                    {{model[field.name]}}
                                </a>
                                <a id="{{field.name}}" href="#" ng-if="field.formdata.isPlainList" ng-model="model[field.name]" placeholder="{{field.formdata.placeholder}}" data-default-value="{{field.defaultValue}}" data-type="select2" data-source="{{field.formdata.selectables}}" data-pk="{{model.ID}}" data-value="{{model[field.name]}}" data-title="{{field.label}}" class="formdata formdata-click">
                                    {{model[field.name]}}  
                                </a>
                                <a id="{{field.name}}" href="#" ng-if="field.formdata.isCollection" ng-model="model[field.name]" placeholder="{{field.formdata.placeholder}}" data-default-value="{{field.defaultValue}}" data-type="select2" data-source="{{field.formdata.urls.absolutelist}}" data-pk="{{model.ID}}" data-value="{{model[field.name]}}" data-title="{{field.label}}" class="formdata formdata-click">
                                    {{model[field.name]}}
                                </a>
                                <a id="{{field.name}}" href="#" ng-if="field.formdata.isDateTime" placeholder="{{field.formdata.placeholder}}" ng-model="model[field.name]" data-type="combodate" data-default-value="{{field.defaultValue}}" data-template="D / MMMM / YYYY" data-format="YYYY-MM-DD" data-pk="{{model.ID}}" data-title="{{field.label}}" class="formdata formdata-click">
                                    {{model[field.name]}}
                                </a>
                            </td>
                            <td width="55%" ng-if="field.formdata.routes.exist">
                                <a ui-sref="{{field.formdata.routes.edit.editExisting}}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;
                                <a ui-sref="{{field.formdata.routes.edit.selectExisting}}">
                                    <i class="fa fa-location-arrow" aria-hidden="true" style="margin-right: 20px;"></i>
                                </a>&nbsp;&nbsp;
                                <a ui-sref="{{field.formdata.routes.edit.newItem}}">
                                    <i class="fa fa-location-arrow" aria-hidden="true" style="margin-right: 40px;"></i>
                                </a>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-actions">
                    <div class="col-xs-6">
                        <!--<input type="checkbox" checked="checked" class="switch switch-mini" name="edit-enabler-switch" data-on-color="success" data-off-color="danger" data-on-text="MUSAIT" data-off-text="SABIT" />-->
                    </div>
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-5 text-right">
                        <button type="submit" class="btn btn-primary" ng-if="command == 'edit-item'" ng-click="submitEdit()">Tamam</button>&nbsp;
                        <button type="button" class="btn btn-success" onclick="window.history.back()">Geri</button>&nbsp;&nbsp;
                        <a ui-sref="items-table({ domain: '{{domain}}', command: '{{command == 'edit-n-select-item' && 'item-selected' }}' })" ng-if="command == 'edit-n-select-item'" class="btn btn-danger">
                            Duzenlemeyi Bitir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
